<!DOCTYPE html>
<html ng-app="TODO">
<head>
    <title>Wenxiang Guan's Resume</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/resume.css" rel="stylesheet" />
    <script src="Script/jquery-1.10.2.min.js"></script>
    <script src="Script/angular.js"></script>
    <script src="Script/resume.js"></script>
</head>
<body ng-controller="resumeController" class="resumeBody">
    <div class="resumeContainer container">
        <div class="row">
            <div class="col-sm-5">
                <img class="logo" id="CHlogo" src="images/Personal resumeLOGO.png" style="display:none" />
                <img class="logo" id="ENlogo" src="images/David Guan.png"/>
            </div>
            <div class="col-sm-3">
                <input class="jobSearch form-control" ng-model="nameInputText" placeholder="{{placeHolderText}}" />
            </div>
            <div class="col-sm-2">
                <label class="chLanguageLable" ng-click="changeLanguage('CH')"><img src="images/ChVerResume.png" class="languageIcon" />中文</label>
            </div>
            <div class="col-sm-2">
                <label class="enLanguageLable" ng-click="changeLanguage('EN')"><img src="images/EngVerResume.png" class="languageIcon" />English</label>
            </div>
        </div>
        <div class="resumeTitleLine">
            <span ng-repeat="item in resumeTitleList">
                <span class="resumeTitle">{{item}}</span>
            </span>
        </div>
        <div class="displayArea">
            <img src="images/LindgeSelfPic.png" id="displayImage1" />
            <img src="images/SelfPiceCut.png" id="displayImage2" style="display:none" />
            <img src="images/MDSelfPic.png" id="displayImage3" style="display:none" />
        </div>
        <div class="flashLine">
            <div class="row">
                <div class="flashLineTitle">{{projectTitle}}</div>
                <div class="flashLineContent">
                    <div ng-repeat="item in projectList" style="height:28px">{{item}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <img class="topLeftImage" src="images/Self.png" />
                <div ng-repeat="item in skillList">
                    <p class="skillIntroduceItem">{{item}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div ng-repeat="item in slefIntroducelist">
                    <p class="introduveItem {{introduceItemFontStyle}}">&nbsp;{{item}}</p>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="topRightImage" src="images/TopRight.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="middleImage" src="images/MCS.png" />
            </div>
            <div class="col-sm-4">
                <img class="middleImage" src="images/acm.png" />
            </div>
            <div class="col-sm-4">
                <img class="middleImage" src="images/MCU.png" />
            </div>
        </div>
        <div class="stroyArea">
            <div class="row">
                <div class="col-sm-6">
                    <img src="images/Quad copter.png"/>
                </div>
                <div class="col-sm-6 storyAreaTextRight">
                    {{Story1}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 storyAreaTextRight">
                    {{Story2}}
                </div>
                <div class="col-sm-6">
                    <img src="images/BOOK.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="images/Coding.png" />
                </div>
                <div class="col-sm-6 storyAreaTextRight">
                    {{Story3}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 storyAreaTextRight">
                    {{Story4}}   
                </div>
                <div class="col-sm-6">
                    <img src="images/Chat.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="images/WalkAbout.png" />
                </div>
                <div class="col-sm-6 storyAreaTextRight">
                    {{Story5}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 storyAreaTextRight">
                    {{Story6}}
                </div>
                <div class="col-sm-6">
                    <img src="images/Inspiration.png" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{titleName}}
        </div>
    </div>
</body>
</html>
