<!DOCTYPE html>
<html ng-app="TODO">
<head>
    <title>WenxiangGuan's Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/resume.css" rel="stylesheet" />
    <script src="Script/jquery-1.10.2.min.js"></script>
    <script src="Script/angular.js"></script>
    <script src="Script/resume.js"></script>
    <script>
        angular.module("TODO", [])
    .controller("resumeController", function ($scope) {
        //Display Image Stuff
        var imageSum = 3;
        var imageCounter = 1;
        var imageRefreshInterval = 4000;
        //Display Image StuffEnd


        $scope.changeLanguage = function (language) {
            console.log(language);
        }

        setInterval(function () {
            if (imageCounter == 3)
                changeDisplayPic(imageCounter, 1);
            else
                changeDisplayPic(imageCounter, imageCounter + 1);
            imageCounter++;
        }, imageRefreshInterval);

        function changeDisplayPic(displayNowIndex, displayReplaceIndex) {
            $('#displayImage' + displayNowIndex).fadeOut(function () {
                $('#displayImage' + displayReplaceIndex).fadeIn();
            });
        }
    });
    </script>
</head>
<body ng-controller="resumeController" class="resumeBody">
    <div class="resumeContainer container">
        <div class="row">
            <div class="col-sm-5">
                <img class="logo " src="images/Personal resumeLOGO.png" />
            </div>
            <div class="col-sm-3">
                <input class="jobSearch form-control" ng-model="nameInputText" placeholder="期望工作：WPF或WEB开发" />
            </div>
            <div class="col-sm-2">
                <label class="chLanguageLable" ng-click="changeLanguage('CH')"><img src="images/ChVerResume.png" class="languageIcon" />中文</label>
            </div>
            <div class="col-sm-2">
                <label class="enLanguageLable" ng-click="changeLanguage('EN')"><img src="images/EngVerResume.png" class="languageIcon" />English</label>
            </div>
        </div>
        <div class="resumeTitleLine">
            <span class="resumeTitle">Company</span>
            <span class="resumeTitle">标题A</span>
            <span class="resumeTitle">标题A</span>
            <span class="resumeTitle">标题A</span>
            <span class="resumeTitle">标题A</span>
            <span class="resumeTitle">标题A</span>
        </div>
        <div class="displayArea">
            <img src="images/LindgeSelfPic.png" id="displayImage1" />
            <img src="images/SelfPiceCut.png" id="displayImage2" style="display:none" />
            <img src="images/MDSelfPic.png" id="displayImage3" style="display:none" />
            <!--<div class="picButtonArea"></div>-->
        </div>
        <div class="flashLine">滚动条区域</div>
        <div class="row">
            <div class="col-sm-2">
                <img src="images/Self.png"/>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-6">
                <img class="topRightImage" src="images/TopRight.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="middleImage" src="images/MCS.png" />
            </div>
            <div class="col-sm-4">
                <img class="middleImage" src="images/acm.png" />
            </div>
            <div class="col-sm-4">
                <img class="middleImage" src="images/MCU.png" />
            </div>
        </div>
        <div>FOOTER</div>
    </div>
</body>
</html>
